/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {}

.main-input {
    display: block !important;
    margin: 0 auto !important;
    width: 70% !important;
    background-color: transparent !important;
    border: 0 !important;
    border-bottom: 1px solid #fff !important;
    border-radius: 0 !important;
    font-size: 30px !important;
    text-indent: 10px !important;
    color: #fff !important;
  	padding-top: 100px !important;
  	height: 40px !important;
}

.main-input:focus {
	box-shadow: none !important;
}

.main-image {
	height: 700px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}

.image-wrapper {
    padding: 0 !important;
}

.image-item {
    width: 100% !important;
    max-width: 100% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px !important;
    cursor: pointer !important;
}

.content {
    padding-top: 40px;
}

/* Special Input */

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    /*max-width: 350px;*/
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 1em;
    border: none;
    border-radius: 0;
    /*background: #f0f0f0;*/
    color: #aaa;
    font-weight: 700;
    font-size: 40px;
    height: 50px;
    box-sizing: border-box;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #696969;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 0;
    width: 100%;
    color: #fff;
    font-size: 20px;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

/* Individual styles */

/* Minoru */
.input__field--minoru {
    width: 100%;
    /*background: #fff;*/
    background: transparent;
    box-shadow: 0px 0px 0px 2px transparent;
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.input__label--minoru {
    padding: 0;
    width: 100%;
    text-align: left;
}

.input__label--minoru::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 4em;
    box-shadow: 0px 0px 0px 0px;
    /*color: rgba(199,152,157, 0.6);*/
    color: #fff;
}

.input__field--minoru:focus {
    box-shadow: 0px 0px 0px 2px #fff;
}

.input__field--minoru:focus + .input__label--minoru {
    pointer-events: none;
}

.input__field--minoru:focus + .input__label--minoru::after {
    -webkit-animation: anim-shadow 0.3s forwards;
    animation: anim-shadow 0.3s forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 100px 50px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 100px 50px;
        opacity: 0;
    }
}

.input__label-content--minoru {
    text-indent: 4px;
    /*padding: 0.75em 0.15em;*/
}


/*****************************************************************************/
/* Write: Dooseong, Eom */
/*****************************************************************************/

/*****************************************************************************/
/* Import Local WebFont
/*****************************************************************************/
@font-face{
    font-family: Jua;
    src: url('/font/Jua.woff') format('woff');
}

@font-face{
    font-family: Hanna;
    src: url('/font/Hanna.woff') format('woff');
}

@font-face{
    font-family: Nanum Brush Script;
    src: url('/font/BrushScript.woff') format('woff');
}

@font-face{
    font-family: Nanum Gothic;
    src: url('/font/Gothic.woff') format('woff');
}

@font-face{
    font-family: Nanum Myeongjo;
    src: url('/font/Myeongjo.woff') format('woff');
}

@font-face{
    font-family: Nanum Pen Script;
    src: url('/font/PenScript.woff') format('woff');
}

.preset-thumbnail {
    padding: 0;
    width: 50px;
    height: 50px;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
}

.slider-list-inline > li {
    margin-left: 10px;
    margin-right: 10px;
}

.slide-filter {
    width: 90px;
}

.slide-thumbnail {
    padding: 0;
    width: 50px;
    height: 50px;
}

/*****************************************************************************/
/* select box */
/*****************************************************************************/
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}

.main-content {
    background-image: url(test.jpg);
    width: 640px;
    height: 640px;

    margin: 0 auto;
}

.main-image-wrapper {
    width: 640px;
    height: 640px;

    margin: 0 auto;
}

.main-image {
    padding: 0;

    width: 640px;
    height: 640px;
}

.main-text {
    font-family: Hanna;

    width: 500px;
    max-height: 640px;

    margin: 0 auto;
    z-index: 100;

    color: #fff;
    font-size: 40px;
    text-align: center;
}

.bottom-content {
    width: 640px;
    height: 200px;
    margin: 0 auto;
}

.ImageFilters {
    text-align: center;
}

.tag-filter-item {
    border: 1px solid #fff;
    width: 20px;
    height: 25px;
}