<template name="Editor">
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 FilterSetting left-side-item">
							<h3>Filter</h3>
							<div id="Filters">
								<div class="FilterSetting">
									<div class="FilterName">
										<p>brightness</p>
									</div>
									<input type="range" data-filter="brightness"
									value="100"
									min="0"
									max="200"
									step="1">
								</div>
								<div class="FilterSetting">
									<div class="FilterName">
										<p>contrast</p>
									</div>
									<input type="range" data-filter="contrast"
									value="100"
									min="0"
									max="200"
									step="1">
								</div>
								<div class="FilterSetting">
									<div class="FilterName">
										<p>blur</p>
									</div>
									<input type="range" data-filter="blur"
									value="0"
									min="0"
									max="10"
									step="1">
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 left-side-item">
							<h3>Text Background Style</h3>
							<div id="text-editor-theme">
								<div class="text-editor-theme-item black-bg" data-event-change-div-style="black-bg">
									<p>Black Background</p>
								</div>
								<div class="text-editor-theme-item no-bg" data-event-change-div-style="no-bg">
									<p>Transparent Background</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 left-side-item">
							<h3>Typography</h3>
							<div id="text-editor-typography">
								<div class="text-editor-typography-item hanna" data-event-change-typography="hanna">
									<p>Hanna Font</p>
								</div>
								<div class="text-editor-typography-item jeju-gothic" data-event-change-typography="jeju-gothic">
									<p>Jeju Gothic Font</p>
								</div>
								<div class="text-editor-typography-item jeju-hallasan" data-event-change-typography="jeju-hallasan">
									<p>Jeju Hallasan Font</p>
								</div>
								<div class="text-editor-typography-item jeju-myeongjo" data-event-change-typography="jeju-myeongjo">
									<p>Jeju Myeongjo Font</p>
								</div>
								<div class="text-editor-typography-item kopub" data-event-change-typography="kopub">
									<p>KoPub Batang Font</p>
								</div>
								<div class="text-editor-typography-item nanum-brush" data-event-change-typography="nanum-brush">
									<p>Nanum Brush Script Font</p>
								</div>
								<div class="text-editor-typography-item nanum-gothic" data-event-change-typography="nanum-gothic">
									<p>Nanum Gothic Font</p>
								</div>
								<div class="text-editor-typography-item nanum-myeongjo" data-event-change-typography="nanum-myeongjo">
									<p>Nanum Myeongjo Font</p>
								</div>
								<div class="text-editor-typography-item nanum-pen" data-event-change-typography="nanum-pen">
									<p>Nanum Pen Script Font</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-9 col-sm-9 col-md-9 col-log-9">
					<div class="row">
						<div class="starter-template" data-canvas-wrapper>
							<img src="test.jpg" alt="" id="main-target" style="padding: 0; margin: 0;">
							<div id="drag-me" style="font-size: 22px; position: absolute;" class="draggable no-bg">
								<p>드래그 가능한 오브젝트</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="PresetFilters">
							<a data-preset="default">init</a>
							<a data-preset="glowing-sun">glowing sun</a>
							<a data-preset="vintage">vintage</a>
							<a data-preset="jarques">jarques</a>
							<a data-preset="clarity">Clarity</a>
							<img src="" alt="" data-rendered-image>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<div class="row">
				<button data-render-image>이미지로 랜더링</button>
			</div>
		</div>
	</div>
</div>
</template>