<template name="Editor">
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 FilterSetting">
							<div id="Filters">
								<div class="FilterSetting">
									<div class="FilterName">
										<p>brightness</p>
									</div>
									<input type="range" data-filter="brightness"
									value="100"
									min="0"
									max="200"
									step="1">
								</div>
								<div class="FilterSetting">
									<div class="FilterName">
										<p>contrast</p>
									</div>
									<input type="range" data-filter="contrast"
									value="100"
									min="0"
									max="200"
									step="1">
								</div>
								<div class="FilterSetting">
									<div class="FilterName">
										<p>blur</p>
									</div>
									<input type="range" data-filter="blur"
									value="0"
									min="0"
									max="10"
									step="1">
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-xs-9 col-sm-9 col-md-9 col-log-9">
					<div class="row">
						<div class="starter-template" data-canvas-wrapper>
							<img src="test.jpg" alt="" id="main-target">
							<div id="drag-me" style="width: 600px; color: #fff; border-radius: .75em; -webkit-transform: translate(0px,0px); transform: translate(0px,0px); border: 3px dashed #ddd; font-size: 22px; position: absolute; top: 100px; left: 100px;" class="draggable">
								<p>드래그 가능한 오브젝트</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="PresetFilters">
							<a data-preset="default">init</a>
							<a data-preset="glowing-sun">glowing sun</a>
							<a data-preset="vintage">vintage</a>
							<a data-preset="jarques">jarques</a>
							<a data-preset="clarity">Clarity</a>
							<img src="" alt="" data-rendered-image>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<div class="row">
				<button data-render-image>이미지로 랜더링</button>
			</div>
		</div>
	</div>
</div>
</template>