/*****************************************************************************/
/* Import Local WebFont
/*****************************************************************************/
@font-face{
    font-family: Jua;
    src: url('/font/Jua.woff') format('woff');
}

@font-face{
    font-family: Hanna;
    src: url('/font/Hanna.woff') format('woff');
}

@font-face{
    font-family: Nanum Brush Script;
    src: url('/font/BrushScript.woff') format('woff');
}

@font-face{
    font-family: Nanum Gothic;
    src: url('/font/Gothic.woff') format('woff');
}

@font-face{
    font-family: Nanum Myeongjo;
    src: url('/font/Myeongjo.woff') format('woff');
}

@font-face{
    font-family: Nanum Pen Script;
    src: url('/font/PenScript.woff') format('woff');
}

/*****************************************************************************/
/* Editor: Style */
/*****************************************************************************/
.editor
{
}

.edited-image
{
	height:700px!important;
	width:100%!important;
	background-repeat:no-repeat!important;
	background-position:center center!important;
	background-size:cover!important
}

#drag-me
{
	width:500px;
	color:#fff;
    -webkit-transform:translate(0px,0px);
    transform:translate(0px,0px);
    border: 3px dashed #ddd;
    font-size: 22px;

    position: absolute;
    top: 100px;
    left: 70px;
}

#drag-me::before
{
	/*content:"#" attr(id);*/
	font-weight:700
}


.left-side-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-editor-theme-item {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.black-bg {
    border: 1px solid #000000;
    background-color: #000;
    color: #fff;
}

.no-bg {
    border: 1px solid #000000;
}

.text-editor-typography-item {
    border: 1px solid #000000;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Jua {
    font-family: 'Jua';
}

.Hanna {
    font-family: 'Hanna';
}

.BrushScript {
    font-family: 'Nanum Brush Script';
}

.Gothic {
    font-family: 'Nanum Gothic';
}

.Myeongjo {
    font-family: 'Nanum Myeongjo';
}

.PenScript {
    font-family: 'Nanum Pen Script';
}

