<template name="Policy">
    <div class="container">
    	<div class="row">
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="upper-section">
                    <a href="/"><div class="upper-brand-image"></div></a>
                    <h2 class="main-headline">Jeegle Privacy Policy</h2>
                    <p></p>
                </div>
                <div class="middle-section">
                    <h4 class="sub-headline">GENERAL</h4>
                    <p>Your privacy is important to us. This privacy policy is intended to give you confidence in the privacy and security of the personal information we obtain from you whether you are using 5 examples products such as the Tio virtual or physical keyboard (the “Products”), uploading information to Jeegle and our products’ websites (the “Websites”), such as www.facebook.com, downloading our applications, or are merely visiting our Websites. However, please note that we are not responsible for any use of your personal information you provide to third-party applications or websites that may be accessed via the Products or Websites. We recommend that you review the privacy policy of any third-party applications or websites that you use.</p>
                </div>
                <div class="middle-section">
                    <h4 class="sub-headline">COLLECTION OF PERSONAL INFORMATION</h4>
                    <p>When you use our Products or Websites, you may be asked for personally identifiable information <em>such as your name, email address, and authority to uplaod images to Facebook via Facebook Oauth2 login system</em>. By giving us such information, you will need to consent to our using it in the manner described in this policy.
                    You may withdraw your consent at any time by emailing us at jeegle.team@gmail.com. We will return or destroy your personal information within five days of receipt of your withdrawal of consent.
                    Cookie information, pages you have requested and your IP address may also be recorded by us and/or third parties from your browser as set out in this policy.</p>
                </div>
                <div class="middle-section">
                    <h4 class="sub-headline">USE OF PERFORMANCE DATA</h4>
                    <p>Jeegle will use performance data, including performance statistics, bug fixes and other similar data (“Performance Data”) uploaded to our Websites or acquired through our Products. Jeegle may use such Performance Data in any way, including, but not limited to, using, editing, altering, reproducing, publishing and/or distributing the Performance Data for any purpose, commercial or otherwise, provided that such Performance Data is stripped of all personally identifiable information.</p>
                </div>
                <div class="middle-section">
                    <h4 class="sub-headline">USE OF PERSONAL INFORMATION</h4>
                    <p>We use personal information to allow us to process your service requests, provide access to privileged areas of the Websites, send out newsletters, personalize your visit to our Websites, personalize your use of our Products, and enable us to improve the products and services we offer.</p>
                </div>
                <div class="middle-section">
                    <h4 class="sub-headline">DISCLOSURE OF PERSONAL INFORMATION</h4>
                    <p>We may provide information about you to our employees and agents in order to administer any accounts, products and services provided to you by Jeegle.
                    We will not disclose your personal information to any third party unless you have consented to such disclosure or where we are required to do so by law. Should you breach our terms and conditions or terms of use or if we are under a duty to disclose or share your personal data in order to comply with any legal obligation, we may disclose your information to a relevant authority. This may include exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction. Any disclosure of personal information will be strictly controlled and made fully in accordance with current Korean law.</p>
                </div>
                <div class="middle-section">
                    <h4 class="sub-headline">COOKIES</h4>
                    <p>Cookies are small data files that a website you visit may save on your computer or handheld device that usually includes an anonymous unique identifier. Our Websites and those of our Products may use cookies for user authentication, keeping track of your preferences, promotional campaigns, tracking our audience size and traffic patterns, and in certain other cases.
                    Third-party advertisers may also create and access cookies, which will be subject to their privacy policies – we accept no responsibility or liability for the use of such third parties’ cookies. If you do not wish cookies to be placed on your PC or handheld device, then they can be disabled in your web browser. The option to do so is normally found in your browser’s “security settings” section. Please note that permanently disabling cookies in your browser may hinder your use of our Websites as well as other websites and interactive services.</p>
                </div>
                <div class="middle-section">
                    <h4 class="sub-headline">SECURITY</h4>
                    <p>All security on our Websites is treated seriously. Where applicable, we undertake security steps on our back-end systems that store customer account information and to protect data transmissions. However, this is not a guarantee that such data transmissions cannot be accessed, altered or deleted due to firewall or other security software failures.
                    If you have any further concerns about security, please email our Customer Service team at jeegle.team@gmail.com.</p>
                </div>
                <div class="middle-section">
                    <h4 class="sub-headline">POLICY CHANGES</h4>
                    <p>Changes in this policy will be posted on our Websites. You are advised to check our Websites regularly to view our most recent privacy policy.</p>
                </div>
                <div class="bottom-section">
                    <p>POC: jeegle.team@gmail.com</p>
                </div>
    		</div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    	</div>
    </div>
</template>
