/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main
{
}

.row
{
	margin-left:0!important;
	margin-right:0!important
}

.container
{
	width:100%!important
}

/* header */
.main-header
{
	height: 100px;
    width: 1070px;
    margin: 0 auto;

	vertical-align:top;
	font-size:0;
}

.main-header-left {
    width: 35px;
    heigth: 35px;

    margin: 32px 20px;
}

.main-header-right
{
    border: 1px solid #fff;
	display:inline-block;
	width:60px;
    height:60px;
    margin: 20px 20px;

	text-align:center;
	vertical-align:top
}

.header-right-content {
    line-height: 18px;
    color: #fff;
    font-size: 18px;

    line-height: 60px;
}

.main-header-right a
{
	font-size:20px
}

.main-header-left
{
	display:inline-block;
	width:15%;
	text-align:center;
	height:100%;
	vertical-align:top
}

.main-header-left a
{
	display:block;
	font-size:20px;
	color:#fff;
	margin:11px 0;
	font-family:'Pacifico',cursive
}

.main-header-left a:hover
{
	text-decoration:none
}

.main-header-center
{
	display:inline-block;
	width:70%;
	height:100%
}

/* login */
.login-wrapper
{
	background-color:#337ab7;
	padding:5px 0;
	border-radius:5px;
	display:block;
	margin:6px 0;
	width:120px;
	margin:6px auto
}
